.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid white;
}
span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
